@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --tg-bg-color: var(--tg-theme-bg-color, #ffffff);
    --tg-text-color: var(--tg-theme-text-color, #000000);
    --tg-hint-color: var(--tg-theme-hint-color, #707579);
    --tg-link-color: var(--tg-theme-link-color, #3390ec);
    --tg-button-color: var(--tg-theme-button-color, #3390ec);
    --tg-button-text-color: var(--tg-theme-button-text-color, #ffffff);
    --tg-secondary-bg-color: var(--tg-theme-secondary-bg-color, #f4f4f5);
  }
}
